@import '../components/map';

.home__container {
	width: 100%;
	height: calc(100vh - 75px);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 50px;

	.search__container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 50px 0;

		.search__controller {
			width: clamp(350px, 90%, 1000px);
			height: 75px;
			display: flex;

			.search__left {
				width: 300px;
				height: 100%;
				display: flex;
				justify-content: center;

				border-top-left-radius: 15px;
				border-bottom-left-radius: 15px;
				background-color: var(--button-background);
				color: var(--button-text-color);

				.user__location {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 20px;
					cursor: pointer;

					&.disabled {
						pointer-events: none;
						opacity: 0.5;
					}

					svg {
						width: 30px;
						height: 30px;
						fill: var(--button-eye-color);
					}

					.button__loader__container {
						width: 48px;
						height: 48px;
						border-radius: 50%;
						position: relative;
						animation: rotate 1s linear infinite;

						.button__loader {
							&::after,
							&::before {
								content: '';
								box-sizing: border-box;
								position: absolute;
								inset: 0px;
								border-radius: 50%;
								border: 5px solid #fff;
								animation: prixClipFix 2s linear infinite;
							}

							&::after {
								transform: rotate3d(90, 90, 0, 180deg);
								border-color: #ff3d00;
							}
						}
					}
				}
			}

			.search__right {
				width: 100%;
				height: 100%;

				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
				form {
					position: relative;
					width: 100%;
					height: 100%;
					input {
						width: 100%;
						height: 100%;
						padding: 20px;
						border-top-right-radius: 15px;
						border-bottom-right-radius: 15px;
						background-color: var(--input-color);
					}

					.search__icon {
						position: absolute;
						right: 0;
						top: 0;
						width: 40px;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						border-top-right-radius: 15px;
						border-bottom-right-radius: 15px;
						background-color: var(--button-background);
						color: var(--button-text-color);
						box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
						cursor: pointer;
					}
				}
			}
		}
	}

	.map__container {
		width: 100%;
		height: calc(100vh - 250px);
		display: flex;
		justify-content: center;

		.leaflet-container {
			width: 50%;
			height: 100%;

			.leaflet-popup-tip {
				background: var(--main-background);
			}

			.leaflet-popup-close-button {
				width: 30px;
				height: 30px;
				top: 5px;
				right: 5px;
				font-size: 2em;
				color: var(--text-color);

				&:hover {
					color: var(--error-color);
				}
			}
		}

		.map__infos {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			background-color: var(--secondary-background);

			.slick-slider {
				.custom__arrow {
					position: absolute;
					top: 0;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 1 !important;

					&.prev__arrow {
						left: 50px;
					}

					&.next__arrow {
						right: 50px;
					}

					div {
						width: 100%;
						height: max-content;
						display: flex;
						justify-content: center;
						align-items: center;
						background-color: var(--tertiary-background);
						border-radius: 50%;
						padding: 5px;

						svg {
							width: 30px;
							height: 30px;
							fill: var(--secondary-background);
							&:hover {
								cursor: pointer;
							}
						}
					}
				}

				.slick-track {
					width: 100%;

					display: flex;
					justify-content: center;
					align-items: center;
					gap: 20px;

					.slick-slide {
						div {
							display: flex;
							justify-content: center;
						}
					}
				}
			}
			.gasStation__card {
				position: relative;
				width: clamp(20%, 450px, 100%) !important;
				height: 200px;
				display: flex !important;
				flex-direction: column;
				gap: 20px;
				border-radius: 10px;
				background-color: var(--main-background);
				color: inherit;
				padding: 25px 0 20px 0;
				text-align: initial;

				.card__update {
					position: absolute;
					top: 5px;
					right: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 5px;
					border-radius: 5px;

					&:hover {
						cursor: pointer;
					}

					svg {
						width: 20px;
						height: 20px;
					}
				}

				&:hover {
					svg {
						fill: var(--error-color);
					}
				}

				.card__top {
					width: 100%;
					display: flex;
					justify-content: space-around !important;
					flex-grow: 1;
					gap: 10px;
					.card__left {
						width: 40%;
						display: flex;
						flex-direction: column;
					}
					.card__right {
						width: 40%;
						display: flex;
						flex-direction: column;

						ul {
							display: flex;
							gap: 5px;
							flex-direction: column;
							list-style: none;
							padding: inherit;

							.fuel__details {
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								gap: 10px;

								.fuel__infos {
									width: 100%;
									height: max-content;
									display: flex;
									justify-content: flex-start;
									align-items: center;
									border-top-left-radius: 20px;
									border-bottom-left-radius: 20px;
									font-size: 0.9em;

									.fuel__name {
										width: 50%;
										display: flex;
										justify-content: center;
										background-color: var(--secondary-background);
										border: 2px solid var(--secondary-background);

										border-top-left-radius: 16px;
										border-bottom-left-radius: 16px;
										padding: 2.5px;
									}
									.fuel__price {
										width: 50%;
										display: flex;
										justify-content: center;
										border: 2px solid var(--secondary-background);
										background-color: var(--warning-color);
										color: var(--card-secondary-text-color);
										border-top-right-radius: 16px;
										border-bottom-right-radius: 16px;
										padding: 2.5px;
									}
								}

								.fuel__available {
									&.fuel__available-true {
										svg {
											fill: var(--success-color);
										}
									}
									&.fuel__available-false {
										svg {
											fill: var(--error-color);
										}
									}
								}
							}
						}
					}
				}
				.card__bottom {
					width: 100%;
					display: flex;
					justify-content: center;
					font-size: 0.8em;
					color: var(--card-tertiary-text-color);
				}
			}
		}
	}
}

@media (max-width: 1050px) {
	.home__container {
		.map__container {
			flex-direction: column;
			.leaflet-container {
				width: 100%;
				height: 500px;
			}
			.map__infos {
				width: 100%;
				height: 500px;

				.slick-track {
					gap: 0;
				}

				.gasStation__card {
					width: 50%;
					height: 100%;
					.card__top {
						flex-direction: column;
						.card__left {
							width: 80% !important;
							margin: 0 auto;
						}
						.card__right {
							width: 80% !important;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 450px) {
	.home__container {
		.search__controller {
			flex-direction: column;
			height: 150px !important;
			.search__left {
				width: 100% !important;
				height: 100% !important;
				border-top-left-radius: 15px !important;
				border-top-right-radius: 15px !important;
				border-bottom-left-radius: 0px !important;
			}
			.search__right {
				input {
					border-top-right-radius: 0px !important;
					border-bottom-right-radius: 15px !important;
					border-bottom-left-radius: 15px !important;
				}
				.search__icon {
					box-shadow: none !important;
					border-top-right-radius: 0px !important;
					border-bottom-right-radius: 15px !important;
				}
			}
		}

		.map__container {
			height: max-content !important;
			.map__infos {
				text-align: center !important;
				.slick-slide {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.slick-slider {
					.custom__arrow {
						&.prev__arrow {
							left: 0px;
						}

						&.next__arrow {
							right: 0px;
						}

						div {
							svg {
								width: 20px;
								height: 20px;
							}
						}
					}

					.slick-track {
						gap: 0;
					}
				}

				.gasStation__card {
					max-width: 90% !important;
					min-width: 375px !important;
					.card__top {
						flex-direction: column;
						.card__left {
							width: 80% !important;
							margin: 0 auto;
						}
						.card__right {
							width: 80% !important;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	75%,
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
}
