[data-theme='dark'] {
	--main-background: #27374d;
	--secondary-background: #526d82;
	--tertiary-background: #9db2bf;

	--text-color: #dde6ed;

	--form-background: #27374d;
	--input-color: #526d82;
	--input-outline-color: #27374d;
	--input-text-color: #ffffff;

	--button-background: #151e26;
	--button-eye-color: #dde6ed;
	--button-text-color: #dde6ed;

	--toast-background: #27374d;
	--toast-text-color: #dde6ed;
	--toast-icon-color: #9db2bf;
}
