[data-theme='light'] {
	// --main-background: #dde6ed;
	// --card-background: #9db2bf;

	// --primary-color: #27374d;
	// --secondary-color: #526d82;
	// --tertiary-color: #dde6ed;

	// --button-background: #526d82;
	// --button-text-color: #dde6ed;
	// --button-outline-color: #dde6ed;

	// --input-autofill-color: #dde6ed;
	// --input-color: #dde6ed;
	// --input-outline-color: #526d82;

	// --link-color: #27374d;

	--main-background: #dde6ed;
	--secondary-background: #9db2bf;
	--tertiary-background: #526d82;

	--text-color: #27374d;

	--form-background: #dde6ed;
	--input-color: #9db2bf;
	--input-outline-color: #526d82;

	--button-background: #9db2bf;
	--button-text-color: #27374d;
}
