[data-theme='light'] {
	--main-background: #dde6ed;
	--secondary-background: #9db2bf;
	--tertiary-background: #526d82;

	--text-color: #27374d;

	--form-background: #dde6ed;
	--input-color: #9db2bf;
	--input-outline-color: #526d82;

	--button-background: #526d82;
	--button-eye-color: #27374d;
	--button-text-color: #dde6ed;

	--toast-background: #dde6ed;
	--toast-text-color: #f44336;
	--toast-icon-color: #27374d;
}
