[data-theme='light'] {
	--main-background: #dde6ed;
	--card-background: #9db2bf;
	--primary-color: #27374d;
	--secondary-color: #526d82;
	--tertiary-color: #dde6ed;
	--button-background: #9db2bf;
	--button-text: #27374d;
}
