@import '../themes/dark-theme';
@import '../themes/light-theme';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&display=swap');

:root {
	--font-family: 'Montserrat', sans-serif;
	--success-color: #4caf50;
	--warning-color: #ffc107;
	--error-color: #f44336;
}
